/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI';
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background: #fffde6d5;
  height: 100vh;
  width: 100%;
  align-content: center;
  margin: 0;
}

main {
  flex-grow: 1;
  background-color: #fffde6d5;
}

.logoMobile {
  display: block;
  height: 100px;

}


.Titles {
  padding-bottom: 10px;
}


#target {
  display: flex;
  padding: 0 20px 20px 20px;
  justify-content: center;
  width: 100%;
}

#target article {
  background: rgb(112 106 106 / 35%);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  align-items: center;
  max-width: 600px;

}

article div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}

article div p {
  text-align: center;
}

img {
  width: 100%;
}

#target img {
  border-radius: 200px;
  margin-bottom: 20px;
}


/**
Trying to implement menu toggler



**/
#menuToggler {
  font-family: monospace;
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  background-color: rgba(0, 0, 0, 0.796);
  color: white;
  font-size: 3em;
  text-align: right;
  line-height: 1em;
  padding: 0 1rem;
  z-index: 2;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px 20px 40px;
  ;
}

.container h2 {
  padding-bottom: 10px;
  font-weight: 300;
}

.logo {
  display: none;
}

nav {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transform: translateX(100vw);
  transition: transform 0.4s, opacity 0.6s;
}

.logos {
  display: flex;
  justify-content: center;
}

nav.open {
  transition: transform 0.4s, opacity 0.2s;
  transform: none;
  opacity: 1;
}

nav a {
  font-size: 2em;
  text-decoration: none;
  padding: 0.5em 1em;
  color: white;
  text-align: center;
  flex-grow: 1;
}

/**Trying to implement menu toggler**/

h1 {
  text-align: center;
  padding: 20px;
}

h2 {
  text-align: center;
  font-weight: 500;
}

p {
  text-align: justify;
  padding: 20px;
}



/* Working on the contact me */


.wrapper {
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
  max-width: 800px;

}

.wrapper h2 {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #332902;
}

.wrapper .input_field {
  margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea {
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 10px;
}

.wrapper textarea {
  resize: none;
  height: 80px;
}

.wrapper .btn input[type="submit"] {
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: #17351d;
  color: #fcfbf7;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

#error_message {
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

@media screen and (min-width: 400px) {
  #target img {
    width: 200px;
  }
}


/* TABLET STYLES */


@media screen and (min-width: 700px) {

  /* applies to screens wider than 699px */

  body {
    background: rgb(107, 146, 107);
  }

  main {
    background-color: #fffde6d5;
    /* Adjust the color as needed */
  }

  #menuToggler {
    display: none;
  }

  .logo {
    display: flex;
    margin-left: 30px;
    width: 250px;
  }

  header {
    display: flex;
    align-items: center;
    background-color: #17351de3;
    justify-content: space-between;
    padding-block: 12px;
  }

  #menuToggler {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    transform: none;
    opacity: 1;
    height: auto;
    position: static;
    width: auto;
    justify-content: center;
    background-color: #ffffff00;
  }

  nav a {
    padding: 0.15em 1.25em;
    margin: 2.5px;
    border-radius: 5vw;
    transition: background-color 0.5s;
    font-size: 14px;
    flex-grow: 0;
    border: 0px;

  }

  .logoMobile {
    display: none;
  }

  #target {
    padding: 0 40px 20px 40px;
  }

  img {
    width: 50%;
  }
}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: #17351d;
  }

  main {
    background-color: #fffde6d5;
    /* Adjust the color as needed */
  }

  #menuToggler {
    display: none;
  }

  .logoMobile {
    display: none;
  }

  header {
    display: flex;
    align-items: center;
    background-color: #17351d;
    justify-content: space-between;
    padding-block: 12px;
  }

  .logoMobile {
    display: none;
  }

  .logo {
    display: flex;
    margin-left: 30px;
    width: 300px;
  }

  nav {
    display: flex;
    flex-direction: row;
    opacity: 1;
    width: auto;
    position: static;
    background-color: #ffffff00;
  }

  nav a {
    padding: 0.25em 1.25em;
    margin: 2.5px;
    border-radius: 5vw;
    transition: background-color 0.5s;
    font-size: 17px;
    flex-grow: 0;
    border: 0px;
  }

  nav a:hover {
    color: #17351d;
    background-color: rgba(0, 180, 90, 0.63);
  }

  #target article {
    display: flex;
    width: 600px;
    padding: 20px;
    flex-direction: row;
  }

  #target img {
    border-radius: 200px;
    margin-bottom: 20px;
    width: 200px;
  }

}