/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI';
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background: rgb(102, 73, 73);
  height: 100vh;
  width: 100%;
  align-content: center;
  margin: 0;
}

main {
  flex-grow: 1;
}

.logoMobile {
  display: block;
  height: 100px;

}

header {
  background-color: #17351d;
  padding: 8px 0;
  justify-content: center;
}

/**
Trying to implement menu toggler



**/
#menuToggler {
  font-family: monospace;
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  background-color: rgba(0, 0, 0, 0.796);
  color: white;
  font-size: 3em;
  text-align: right;
  line-height: 1em;
  padding: 0 1rem;
  z-index: 2;
}


.container {
  display: none;
}

.logo {
  display: none;
}

nav {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transform: translateX(100vw);
  transition: transform 0.4s, opacity 0.6s;
}

.logos {
  display: flex;
  justify-content: center;
}

nav.open {
  transition: transform 0.4s, opacity 0.2s;
  transform: none;
  opacity: 1;
}

nav a {
  font-size: 2em;
  text-decoration: none;
  padding: 0.5em 1em;
  color: white;
  text-align: center;
  flex-grow: 1;
}

/**Trying to implement menu toggler**/

h1 {
  text-align: center;
}

p {
  text-align: justify;
  padding: 20px;
}

.container {
  margin: 20px;
}



.footer {
  background-color: rgba(0, 0, 0, 0.336);
  width: 100%;
  text-align: center;
  color: antiquewhite;

}



/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */

  body {
    background: rgb(2, 75, 2);
  }

  .logo {
    display: flex;
    margin-left: 30px;
    width: 250px;
  }

  header {
    display: flex;
    align-items: center;
    background-color: #0f1110e1;
    justify-content: space-between;
    padding-block: 1vw;
  }

  #menuToggler {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    transform: none;
    opacity: 1;
    height: auto;
    position: static;
    width: auto;
    justify-content: center;
    background-color: #ffffff00;
  }

  nav a {
    padding: 0.15em 1.25em;
    border-radius: 5vw;
    transition: background-color 0.5s;
    font-size: 14px;
    flex-grow: 0;
  }

  .logoMobile {
    display: none;
  }
}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: rgb(255, 255, 255);
  }

  #menuToggler {
    display: none;
  }

  .logoMobile {
    display: none;
  }

  header {
    display: flex;
    align-items: center;
    background-color: #0f1110e1;
    justify-content: space-between;
    padding-block: 1vw;
  }

  .logoMobile {
    display: none;
  }

  .logo {
    display: flex;
    margin-left: 30px;
    max-width: 300px;
  }

  nav {
    display: flex;
    flex-direction: row;
    opacity: 1;
    width: auto;
    position: static;
    background-color: #ffffff00;
  }

  nav a {
    padding: 0.25em 1.25em;
    border-radius: 5vw;
    transition: background-color 0.5s;
    font-size: 17px;
    flex-grow: 0;
  }

  nav a:hover {
    color: #17351d;
    background-color: rgba(255, 230, 0, 0.63);
  }

}