/* MOBILE AND GLOBAL STYLES */


/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  background-color: #f0f0f0d5;
}

main {
  background-color: #fffde6d5;
  /* Adjust the color as needed */
}

.intro-header {
  position: relative;
  color: #fff;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 116px);
  display: flex;
  overflow: hidden;
}

.intro-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(244, 244, 244, 0);
}

.intro-header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translate(-50%, -50%);
}

.intro-text {
  width: 60%;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  color: #ffffff;
  background: #414141a8;
  border-radius: 10px;
}

.heading-jumbo {
  text-transform: none;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 64px;
  line-height: 80px;
  z-index: 2;
}

.paragraph-bigger {
  opacity: 1;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  z-index: 2;
}

.css-button-neumorphic {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #efefef;
  box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff;
  color: #585858;
}

.css-button-neumorphic:active {
  box-shadow: inset 1px 1px 3px #c8d0e7, inset -1px -1px 3px #fff;
}


.text-overlay {
  display: none;
}

h1 {
  text-align: center;
  padding: 20px;
}

h2 {
  text-align: center;
}

p {
  text-align: justify;
  padding: 20px;
}

#Activities {
  padding-top: 30px;
  padding-bottom: 20px;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 116px);
  /* Adjust according to your header height */
  overflow: hidden;
  /* Ensure the image doesn't overflow the container */
  margin-bottom: 50px;

}

.container img {
  scale: 1;
  min-width: 100%;
  /* Ensure the image doesn't exceed the container width */
  min-height: 100%;
  /* Ensure the image doesn't exceed the container height */
  object-fit: fill;
  /* Maintain aspect ratio while fitting inside the container */

}

.ListActivities {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ListActivities div {
  text-align: justify;
  padding: 20px;
  max-width: 400px;
}

.activityImage {
  width: 100%;
}

.intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80%;
  max-width: 1140px;
  margin-bottom: 20px;
  z-index: 1;
}

/* TABLET STYLES */

@media screen and (min-width: 700px) {

  /* applies to screens wider than 499px */

  body {
    background: rgb(107, 146, 107);
  }

  main {
    background-color: #fffde6d5;
  }

  .logo {
    display: flex;
    margin-left: 30px;
    width: 300px;
  }

  header {
    display: flex;
    align-items: center;
    background-color: #17351de3;
    justify-content: space-between;
    padding-block: 12px;
  }

  #menuToggler {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    transform: none;
    opacity: 1;
    height: auto;
    position: static;
    width: auto;
    justify-content: center;
    background-color: #ffffff00;
  }

  nav a {
    padding: 0.15em 1.25em;
    margin: 2.5px;
    border-radius: 5vw;
    transition: background-color 0.5s;
    font-size: 14px;
    flex-grow: 0;
    border: 0px;
  }

  .logoMobile {
    display: none;
  }



}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: #17351d;
  }

  main {
    background-color: #fffde6d5;
    /* Adjust the color as needed */
  }

  #menuToggler {
    display: none;
  }

  header {
    display: flex;
    align-items: center;
    background-color: #17351d;
    justify-content: space-between;
    padding-block: 12px;
  }

  .logoMobile {
    display: none;
  }


  .logo {
    display: flex;
    margin-left: 30px;
    min-width: 300px;
  }

  nav {
    display: flex;
    flex-direction: row;
    opacity: 1;
    width: auto;
    position: static;
    background-color: #ffffff00;
  }

  nav a {
    padding: 0.25em 1.25em;
    border-radius: 5vw;
    transition: background-color 0.5s;
    font-size: 17px;
    flex-grow: 0;
    border: 0px;
  }

  nav a:hover {
    color: #17351d;
    background-color: rgba(0, 180, 90, 0.63);
  }

  .intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70%;
    max-width: 1140px;
    margin-bottom: 20px;
    z-index: 1;
  }
}