/* MOBILE AND GLOBAL STYLES */


/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  font-family: 'Segoe UI';
  background: #17351d;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
} 

header {
  display: flex;
  align-items: center;
  padding: 1vw;
  background-position: right;
  background-color: #17351de1;
}

.logo {
  margin-left: 30px;
  max-width: 300px;
}

nav {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

nav a {
	color: #afa;
	padding: 0.25em 1.25em;
	text-decoration: none;
	transition: background-color 0.5s;
  font-size: 17px;
  border-radius: 1vw;
}
nav a:hover {
  color: #17351d;
  background-color: #afa; 
}




/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */
  
  body {
    background: rgb(0, 83, 0);
  } 
}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */



  header {
    position: fixed;
    width: 100%;
    padding-top: 70px;
    display: flex;
    align-items: center;
    padding: 1vw;
    background-position: right;
    background-color: #17351d;
  }

  body {
  font-family: 'Segoe UI';
  background: #ffffff;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  } 
  
  .container {
    padding-top: 120px;
    max-width: auto; /* Adjust the maximum width as needed */
    max-height: fit-content;
    margin: auto; /* Center the container horizontally */
    border-style: solid;
    border-color: #17351d;
    background-color: #17351d;
    height: 700px;
    overflow: hidden;
  }
  
  .container img {
    width: 100%; /* Ensure the image fills the container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any default inline styles */
    margin-top: 0px; /* Add some top margin for spacing */
    align-content: center;
  }

  .footer { 
    background-color: rgba(0, 0, 0, 0.336);
    width: 100%;
    text-align: center;
    color: antiquewhite;
    bottom: 0; 
    left: 0; 
    z-index: 10;
  }
  
}
