/* MOBILE AND GLOBAL STYLES */


/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(3, 43, 19);

} 

header {
  
  background-position: right;
  padding: 2vw;
  background-color: rgba(0, 0, 0, 0.336);
  border-radius: 0.5vw
}

nav {
  display: flex;
	flex-direction: row;
  border: black;
  border-color: black;
  border-radius: 2cm;
	background-color: #050;
	flex-basis: 15vw;
	flex-shrink: 0;
}

nav a {
	color: #afa;
	padding: 0.25em 0.5em;
	text-decoration: none;
	transition: background-color 0.5s;
}

.footer { 
  background-color: rgba(0, 0, 0, 0.336);
  width: 100%;
  text-align: center;
  color: antiquewhite;
  position: fixed; 
  bottom: 0; 
  left: 0; 
  z-index: 10;
}


/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */
  
  body {
    background: #cfc;
  } 
}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: url(Bkg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  } 
}
